Source/src/edent/utils/ds_type-4.01.07.xsd


<xs:schema xmlns:dsCis="urn:cz-mzcr:ns:dasta:ds4:ds_cistype" xmlns:dsComm="urn:cz-mzcr:ns:dasta:ds4:ds_type" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:cz-mzcr:ns:dasta:ds4:ds_type" elementFormDefault="qualified">
<!-- import ciselniku -->
    <xs:import namespace="urn:cz-mzcr:ns:dasta:ds4:ds_cistype" schemaLocation="ds_cistype-4.01.01.xsd"/>
<!-- Dasta MZCR common element types -->
    <xs:attributeGroup name="icisAttrGroup">
        <xs:attribute name="ico" type="dsComm:icisType" use="optional"/>
        <xs:attribute name="icz" type="dsComm:icisType" use="optional"/>
        <xs:attribute name="icp" type="dsComm:icisType" use="optional"/>
        <xs:attribute name="icl" type="dsComm:icisType" use="optional"/>
        <xs:attribute name="pcz" type="dsComm:str3" use="optional"/>
        <xs:attribute name="oddel" type="dsComm:str5" use="optional"/>
    </xs:attributeGroup>
<!-- typ pro to datum komplexni -->
    <xs:simpleType name="dateTypType">
        <xs:restriction base="dsComm:str1">
            <xs:pattern value="[AOLI]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="dateFormatType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="D"/>
            <xs:enumeration value="DT"/>
            <xs:enumeration value="DTS"/>
            <xs:enumeration value="MR"/>
            <xs:enumeration value="R"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:attributeGroup name="dat_xxAttrGroup">
        <xs:attribute name="format" type="dsComm:str3" default="DTS"/>
        <xs:attribute name="typ" type="dsCis:LVTZDCUN"/>
    </xs:attributeGroup>
<!-- format pro dat_xx elementy, atributy dat_va + dat_vb maji xs:dateTime, dale jsou def. specializovanych typu, napr. dat_du -->
    <xs:complexType name="dat_xxType">
        <xs:simpleContent>
            <xs:extension base="dsComm:dateFormatMultiType">
                <xs:attributeGroup ref="dsComm:dat_xxAttrGroup"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
<!-- dat_du ma povinny atribut "typ" -->
    <xs:complexType name="dat_duType">
        <xs:simpleContent>
            <xs:extension base="dsComm:dateFormatMultiType">
                <xs:attribute name="format" type="dsComm:str3" default="D"/>
                <xs:attribute name="typ" type="dsCis:LVTZDCUN" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
<!-- odvozene typy -->
<!-- zbytecne? existuje dsComm:number5de -->
    <xs:simpleType name="klic_nclpType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{5}"/>
        </xs:restriction>
    </xs:simpleType>
<!-- zbytecny typ ??? -->
    <xs:complexType name="dat1Type">
        <xs:simpleContent>
            <xs:extension base="dsComm:str35">
                <xs:attribute name="format" type="dsComm:dateFormatType" use="optional"/>
                <xs:attribute name="typ" type="dsComm:dateTypType" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="garant_datType">
        <xs:simpleContent>
            <xs:extension base="dsComm:str35">
                <xs:attribute name="id_garant" type="dsComm:str20" use="required"/>
                <xs:attribute name="odbornost" type="dsComm:str3" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="autorType">
        <xs:simpleContent>
            <xs:extension base="dsComm:str35">
                <xs:attribute name="odbornost" use="optional">
                    <xs:simpleType>
                        <xs:restriction base="xs:NMTOKEN">
                            <xs:length value="3"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="odeslalType">
        <xs:simpleContent>
            <xs:extension base="dsComm:str35">
                <xs:attribute name="funkce" type="dsComm:str35" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
<!-- zakladni typy -->
    <xs:simpleType name="dat_dtsType">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="sexType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="M"/>
            <xs:enumeration value="F"/>
            <xs:enumeration value="X"/>
        </xs:restriction>
<!-- ciselnik sex / pohlavi -->
    </xs:simpleType>
    <xs:simpleType name="rodcisType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{9,10}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="verzeDsType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,2}\.\d{2}\.\d{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="icisType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="str1">
        <xs:restriction base="xs:string">
            <xs:length value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="str2">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="str2e">
        <xs:restriction base="xs:string">
            <xs:minLength value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="str3">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="str3e">
        <xs:restriction base="xs:string">
            <xs:minLength value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="str4">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="str5">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="str5e">
        <xs:restriction base="xs:string">
            <xs:length value="5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="str6">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="str7">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="7"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="str8">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="8"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="str8e">
        <xs:restriction base="xs:string">
            <xs:length value="8"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="str9">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="9"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="str10">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="str11">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="str12">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="12"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="str13">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="13"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="str14">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="14"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="str14e">
        <xs:restriction base="xs:string">
            <xs:length value="14"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="str15">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="str16">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="str20">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="str24">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="24"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="str25">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="25"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="str30">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="str32">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="32"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="str35">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="str38">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="38"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="str40">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="40"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="str45">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="45"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="str48">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="48"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="str50">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="str55">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="55"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="str56">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="56"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="str60">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="60"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="str64">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="64"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="str70">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="str80">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="80"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="str90">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="90"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="str100">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="str120">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="str128">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="128"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="str200">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="200"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="str255">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number0-99">
        <xs:restriction base="xs:nonNegativeInteger">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="99"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number1-99">
        <xs:restriction base="dsComm:number0-99">
            <xs:minInclusive value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number1d">
        <xs:restriction base="xs:integer">
            <xs:totalDigits value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number1-2">
        <xs:restriction base="xs:string">
            <xs:pattern value="[12]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number1-3">
        <xs:restriction base="xs:string">
            <xs:pattern value="[123]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number1-4">
        <xs:restriction base="xs:string">
            <xs:pattern value="[1-4]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number1-6">
        <xs:restriction base="xs:string">
            <xs:pattern value="[1-6]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number0-2">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-2]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number0-3">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-3]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number0-4">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-4]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number0-5">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-5]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number1-5">
        <xs:restriction base="xs:string">
            <xs:pattern value="[1-5]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number0-6">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-6]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number0-7">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-7]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number0-8">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-8]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number1-7">
        <xs:restriction base="xs:string">
            <xs:pattern value="[1-7]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number1-9">
        <xs:restriction base="xs:string">
            <xs:pattern value="[1-9]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number0-10">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number0-15">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number0-16">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number0-20">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="20"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number0-25">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="25"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number0-30">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number0a2-43">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:integer">
                    <xs:enumeration value="0"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:integer">
                    <xs:minInclusive value="2"/>
                    <xs:maxInclusive value="43"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <xs:simpleType name="number0a5-43">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:integer">
                    <xs:enumeration value="0"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:integer">
                    <xs:minInclusive value="5"/>
                    <xs:maxInclusive value="43"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <xs:simpleType name="number0-40">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="40"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number5-40">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="5"/>
            <xs:maxInclusive value="40"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number0-47">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="47"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number0-92">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="92"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number11-99">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="11"/>
            <xs:maxInclusive value="99"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number11-199">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="11"/>
            <xs:maxInclusive value="199"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number20-60">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="20"/>
            <xs:maxInclusive value="60"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number21-99">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="21"/>
            <xs:maxInclusive value="99"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number21-100">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="21"/>
            <xs:maxInclusive value="100"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number22-45">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="22"/>
            <xs:maxInclusive value="45"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number71-87">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="71"/>
            <xs:maxInclusive value="87"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number20-70">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="20"/>
            <xs:maxInclusive value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number121-199">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="121"/>
            <xs:maxInclusive value="199"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number150-600">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="150"/>
            <xs:maxInclusive value="600"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number0-9999">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="9999"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number100-6000">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="100"/>
            <xs:maxInclusive value="6000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number200-8000">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="200"/>
            <xs:maxInclusive value="8000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number300-8000">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="300"/>
            <xs:maxInclusive value="8000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number500-8000">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="500"/>
            <xs:maxInclusive value="8000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number650-750">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="650"/>
            <xs:maxInclusive value="750"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number650-760">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="650"/>
            <xs:maxInclusive value="760"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number2d">
        <xs:restriction base="xs:integer">
            <xs:totalDigits value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number2de">
        <xs:restriction base="xs:string">
            <xs:pattern value="-?[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number3d">
        <xs:restriction base="xs:integer">
            <xs:totalDigits value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number3de">
        <xs:restriction base="xs:string">
            <xs:pattern value="-?[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number4d">
        <xs:restriction base="xs:integer">
            <xs:totalDigits value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number4de">
        <xs:restriction base="xs:string">
            <xs:pattern value="-?[0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number5d">
        <xs:restriction base="xs:integer">
            <xs:totalDigits value="5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number5de">
        <xs:restriction base="xs:string">
            <xs:pattern value="-?[0-9]{5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number6d">
        <xs:restriction base="xs:integer">
            <xs:totalDigits value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number6de">
        <xs:restriction base="xs:string">
            <xs:pattern value="-?[0-9]{6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number7d">
        <xs:restriction base="xs:integer">
            <xs:totalDigits value="7"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number8d">
        <xs:restriction base="xs:integer">
            <xs:totalDigits value="8"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number9d">
        <xs:restriction base="xs:integer">
            <xs:totalDigits value="9"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number9de">
        <xs:restriction base="xs:string">
            <xs:pattern value="-?[0-9]{9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number10d">
        <xs:restriction base="xs:integer">
            <xs:totalDigits value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number10de">
        <xs:restriction base="xs:string">
            <xs:pattern value="-?[0-9]{10}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number14d">
        <xs:restriction base="xs:integer">
            <xs:totalDigits value="14"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number14de">
        <xs:restriction base="xs:string">
            <xs:pattern value="-?[0-9]{14}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number6.2">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="-?[0-9]{1,6}"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="-?[0-9]{1}[0-9]{0,5}[,.][0-9]{0,2}"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <xs:simpleType name="number6.4">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="-?[0-9]{1,6}"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="-?[0-9]{1}[0-9]{0,5}[,.][0-9]{0,4}"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <xs:simpleType name="number3.3">
        <xs:restriction base="xs:string">
            <xs:pattern value="-?\d{1,3},?\d{0,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number6.3">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="-?[0-9]{1}[0-9]{0,5},[0-9]{3}"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="-?[0-9]{1}[0-9]{0,5}\.[0-9]{3}"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <xs:simpleType name="number8.3">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="-?[0-9]{1}[0-9]{0,7},[0-9]{3}"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="-?[0-9]{1}[0-9]{0,7}\.[0-9]{3}"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <xs:simpleType name="number7.2">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="-?[0-9]{1}[0-9]{0,6},[0-9]{2}"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="-?[0-9]{1}[0-9]{0,6}\.[0-9]{2}"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <xs:simpleType name="number8.2">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="-?[0-9]{1}[0-9]{0,7},[0-9]{2}"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="-?[0-9]{1}[0-9]{0,7}\.[0-9]{2}"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <xs:simpleType name="realNumber8">
        <xs:restriction base="xs:float">
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="oddType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{2}[5-9][0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="logical">
        <xs:restriction base="xs:string">
            <xs:pattern value="[01]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="logicalA">
        <xs:restriction base="xs:string">
            <xs:pattern value="A|N"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="dateTime">
        <xs:union memberTypes="xs:date xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="dateTimeMin">
        <xs:union memberTypes="xs:date dsComm:dateHourMin"/>
    </xs:simpleType>
    <xs:simpleType name="dateHourMin">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{4}-\d{2}-\d{2}T\d{2}:\d{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="dateHour">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{4}-\d{2}-\d{2}T\d{2}:?\d{0,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="phType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[67],[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BE">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="1"/>
            <xs:minInclusive value="-40.0"/>
            <xs:maxInclusive value="40.0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="vekMatky">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="12"/>
            <xs:maxInclusive value="54"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="stavType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[129]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="verzeLPType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{2}\.[0-9]{2}\.[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="dateFormatMultiType">
        <xs:union memberTypes="xs:date dsComm:dateHourMin xs:dateTime xs:gYearMonth xs:gYear"/>
    </xs:simpleType>
    <xs:simpleType name="sr_typType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="L"/>
            <xs:enumeration value="O"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="yearMonthType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[12][0-9]{3}[0-1][0-9]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="prilohaType">
        <xs:simpleContent>
            <xs:extension base="dsComm:str255">
                <xs:attribute name="zdroj" type="dsComm:str255" use="required"/>
                <xs:attribute name="typ" type="dsComm:str64"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="typ_pvType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Z"/>
            <xs:enumeration value="P"/>
            <xs:enumeration value="O"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="typAdresyType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[1-9ABLOPSX]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ind_kontType">
        <xs:restriction base="xs:string">
            <xs:pattern value="K?"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="polozkaType">
        <xs:restriction base="dsComm:str1">
            <xs:pattern value="[VZ]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="davkaTypType">
        <xs:restriction base="dsComm:str1">
            <xs:pattern value="[FHNJ]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="cisloPojistenceType">
        <xs:union memberTypes="dsComm:number9de dsComm:number10de"/>
    </xs:simpleType>
    <xs:simpleType name="indOprSdType">
        <xs:restriction base="dsComm:str1">
            <xs:pattern value="[NES]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="stavFakturyType">
        <xs:restriction base="dsComm:str1">
            <xs:pattern value="[PVN]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="sHodnotaType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="-4"/>
            <xs:maxInclusive value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="tHodnotaType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="-3"/>
            <xs:maxInclusive value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="typVznikuType">
        <xs:restriction base="dsComm:str1">
            <xs:pattern value="[NARO]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="mistoVznikuType">
        <xs:restriction base="dsComm:str1">
            <xs:pattern value="[LAP]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="uctujiciType">
        <xs:restriction base="dsComm:str1">
            <xs:enumeration value="P"/>
            <xs:enumeration value="O"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="uctovatelnostType">
        <xs:restriction base="dsComm:str1">
            <xs:enumeration value="V"/>
            <xs:enumeration value="N"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="projekceType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PA"/>
            <xs:enumeration value="LAT"/>
            <xs:enumeration value="LSJ"/>
            <xs:enumeration value="AP"/>
            <xs:enumeration value="Periapical"/>
            <xs:enumeration value="CC"/>
        </xs:restriction>
    </xs:simpleType>
<!-- **************************** "Firemn" blok **************************** -->
    <xs:complexType name="AnyType">
        <xs:sequence>
            <xs:any namespace="##other" maxOccurs="unbounded" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>